<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account Kit Test</title>


<link rel="stylesheet" href={{ url_for('static', filename='css/codemirror.css') }}>
    <script src={{ url_for('static', filename='js/codemirror.js') }}></script>
<script>
  var myCodeMirror = CodeMirror("code", {
  value: "function myScript(){return 100;}\n",
  mode:  "javascript"
});
</script>


  </head>
  <body>

  <textarea id="code" rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>

  </body>
</html>