<nav class="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Review Code</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav
                    mr-auto">
            <li class="nav-item {{ 'active' if page=='home' else '' }}">
                <a class="nav-link" href="/home">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item {{ 'active' if page=='ask' else '' }}">
                <a class="nav-link" href="/ask">Ask
                    <span class="sr-only">(current)</span></a>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://stackexchange.com/oauth/dialog?client_id=11120&redirect_uri=http://localhost:5000/stack_login?&scope=private_info">
                    Add Stack Overflow
                    <span class="sr-only">(current)</span></a>
                </a>
            </li>


        </ul>
        <!-- Links -->

        <!-- Search form -->
{#        <form class="form-inline">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#        </form>#}
        <i class="fa fa-user fa-3x img-fluid rounded-circle z-depth-0" aria-hidden="true" style="color: #fff"></i>

{#        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0"                   style="width: 40px;">#}
        &nbsp;
        <a href="/logout">
            <i class="fa fa-sign-out fa-3x" aria-hidden="true" style="color:white"></i>
        </a>


    </div>
    <!-- Collapsible content -->

</nav>